.top {
    background-color: #3489eb;
    color: #ffffff;
    text-align: center;
    line-height: 3;
     margin-bottom: 100px;
}



.mid {
    padding-left: 100px;
    background-color: #f0f2f7;
    padding: 0.5rem 2rem 1rem 2rem;
}

.bottem {
    margin-top: 100px;
    background-color: #3489eb;
    text-align: center;
    color: #ffffff;

}

.option {
    font-size: 22pt;
}
.option:hover{
    background-color: #3489eb;
    color: #f0f2f7;
}

